
body{
  background-position: center;
  padding: 30px;
  background-size: cover;
  background-color:#e01452;
  font-family: link rel="preconnect" href="https://fonts gstatic.com" crossorigin
  link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet";

}

.app{
  max-width: 600px;
  margin:0 auto;
  background-color:#F3E6F7;
  border-radius: 10px;
  padding: 10px 30px;
  box-shadow: 5px 3px 20px #560820;

}

.todo-list{
  margin-top: 10px;

}

.todo{
  background-color:#FF004B;
  box-shadow: 3px 3px 8px#625e63;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: white ;

}

h1{
  text-align: center;
}

input{

  box-sizing: border-box;
  
}

button{
  box-shadow: 1px 1px 6px #050505;
  background-color:#ff25a1;
  padding: 5px 10px ;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  margin-right: 10px;
  border-radius: 5px;
  color: white;
}

button:hover {
  opacity: 10;
}

select, input{
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #bfbbb7;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  border-color: #e01452;
  box-shadow: 5px 5px 5px #b4b2b5;
  font-weight: bold;
}

input::placeholder {
  color: black;
}